{{define "content"}}
    <div class="pure-g">

        <div class="pure-u-1">
            <h2>mathbase demo app</h2>
        </div>

        <div class="pure-u-1">
            <form action="/search" method="get" class="pure-form pure-form-stacked">
                <label for="query">Type LaTeX query below.</label><span style="color: red;">{{.error}}</span>
                <input name="query" id="query" placeholder="\sum^{N}_{i=0}">
                <button class="pure-button pure-button-primary">Search</button>
            </form>
        </div>
    </div>
{{end}}